.butt
{
 position : absolute;
 top: 70%;
 left: 5%;
 background-color: transparent;
 color: white;
 font-weight: bold;
 padding: 1.5%;
 border-color: white;
 border-width: thin;
 margin:0%;
 width: fit-content;
}
.butt a{
    color: white;
}
@media screen and (max-width: 600px) 
    {
        .butt
        {
            left: 10%;
            top: 60%;
            width: fit-content;
        }
    }

.evnt
{
    background-color: black;
    color: white;

}

.feet
{
    background-color: black;
}


.foot
{
    font-weight: 700;
    text-align: center;
    color: rgba(128, 128, 128, 0.521);
    
}
@media screen and (max-width: 600px) 
    {
        .foot 
        {
            width: 70%;
            
        }
    }


.evnt h1
{
    font-weight: 800;
    text-align: center;
    padding-bottom: 2.5%;
    scroll-padding-top: 2.5%;
}


.full-bg-img
{
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.contain
{
    position: relative;
}
.contain2
{
    position: relative;
}
.logo
{
    position: absolute;
    top: 20%;
    left: 65%;
    width: 35%;
}
.text-block
{
    position: absolute;
    top: 60%;
    left: 72%;
}

.text-block1
{
    position: absolute;
    top: 20%;
    left: 72%;
}
.text-block h4
{
    color: white;
    font-size: large;
    width: fit-content;
    font-weight: 700;
}
.text-block1 h4
{
    
    color: white;
    font-size: large;
    width: fit-content;
    font-weight: 700;
}


@media screen and (max-width: 600px) 
    {
        .logo
        {
            left: 5%;
            width: 90%;
        }
        .text-block
        {
            top: 45%;
            left: 5%;
            width: fit-content;
        }
        .text-block,.text-block1 h4
        {
            color: white;
            font-size: medium;
            font-weight: 700;
            
        }
        .text-block1
        {
            top: 10%;
            left: 20%;
        }
    }



.nav
{
    overflow: hidden;
    background-color:black ;
    margin: 0%;
    padding: 0%;
}
.nav a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 16.66%;

}

.nav a.active {
    color:tomato;
  }
.nav a:hover
{
    color: tomato;
}
.nav .icon
{
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
      text-align: center;

    }
   
  }
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      float: right;
      right: 0;
      top: 0;
        text-align: center;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .nav.responsive a:hover
    {
        color: tomato;
    }
  }
.btn
{
    position: absolute;
    top: 60%;
    left: 70%;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 1.5%;
    border-color: white;
    border-width: thin;
    margin:0%;
    width: 23%;
}
.btn a 
{
    color:white;
}


@media screen and (max-width: 600px) {
   .btn
   {
       top: 60%;
       left: 30%;
       width: fit-content;
   }   
  
   };

.btn:hover
{
    background-color: white;
    color: black;

}

  *
{
    box-sizing: border-box;
}
.container2
{
    vertical-align: top;
    position: relative;
}
.text-container
{
    position: absolute;
    top: 10%;
    left: 1.5%;
    font-size: x-large;
}

.text-container h1,p,h4 
{
   
    color: white;
    width: 40%;
}

@media screen and (max-width: 600px) {
    .text-container
    {
        font-size: medium;
        top: 5%;
    }
    .text-container h1
    {
        width: 100%;
    }
    .text-container p,h4
    {
        padding-top: 10%;
        word-spacing: 1.5%;
        width:100%;
    };
}



.events
{
    margin-top: 0%;
}



}
/* Grid division*/
.col-1 {
    width: 8.33%;
        }
.col-2 {
    width: 16.66%;
        }
.col-3 {
    width: 25%;
        }
.col-4 {
    width: 33.33%;
        }
.col-5 {
    width: 41.66%;
        }
.col-6 {
    width: 50%;
        }
.col-7 {
    width: 58.33%;
        }
.col-8 {
    width: 66.66%;
        }
.col-9 {
    width: 75%;
        }
.col-10 {
    width: 83.33%;
        }
.col-11 {
    width: 91.66%;
        }
.col-12 {
    width: 100%;
        }

[class*="col-"] {
            float: left;
            padding: 15px;
         }
/* grid divisions */
/* ruling out stylesheets */
body
{
    margin: 0px;
    }
/* img {    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
} */

html
{
    scroll-behavior: smooth;
}
@media screen and (max-width: 600px) {
    .event h1
    {
    
        font-size: 4vh;
    }
    }





    ​/* Float four columns side by side */
.column15 {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row15 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row15:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column15 {
      width: 100%;
      display: block;

    }
  }
  
  /* Style the counter cards */
  .card0 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
